<% includes.each do |field| %>
  <% if field.is_a?( String ) %>
    <%= includes_checkbox name, field %>
  <% end %>
  <% if field.is_a?( Hash ) %>
    <% field.each do |field,includes| %>
      <%= includes_checkbox name, field %>
      <div class="nested">
        <%= partial :checkboxes, :locals => { :includes => includes, :name => name } %>
      </div>
    <% end %>
  <% end %>
<% end %>