<h1>Patron Saint</h1>
<div id="credentials">
  <form action="/credentials">
    <label>API Key: <input type="text" name="api_key" /></label>
    <input type="submit" value="Set" />
  </form>
</div>
<div id="resources">
  <h2>Resources</h2>
  <ul>
  <% @resources.each do |resource| %>
    <li><a href="/resource<%= resource %>"><%= resource %></a></li>
  <% end %>
  </ul>
</div>
<div id="methods">
</div>
<div id="method">
</div>
<div id="response">
</div>