<!DOCTYPE html>
<html>
<head>
  <title>Patron Saint</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/redmond/jquery-ui-1.8.13.custom.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/prettify/prettify.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/saint.css" />
  <script type="text/javascript" src="/js/vendor/jquery-1.5.1.min.js"></script>
  <script type="text/javascript" src="/js/vendor/jquery-ui-1.8.13.custom.min.js"></script>
  <script type="text/javascript" src="/js/vendor/json2.js"></script>
  <script type="text/javascript" src="/prettify/prettify.js"></script>
  <script type="text/javascript" src="/js/jqueryui.sidebutton.js"></script>
  <script type="text/javascript" src="/js/jqueryui.patronincludes.js"></script>
  <script type="text/javascript" src="/js/jqueryui.hintedinput.js"></script>
  <script type="text/javascript" src="/js/jqueryui.jsonbuilder.js"></script>
  <script type="text/javascript" src="/js/saint.js"></script>
  <script type="text/javascript" src="/js/deep_linking.js"></script>
</head>
<body>
<div id="main" class="ui-corner-all ui-widget-content">
<%= yield %>
</div>
<input type="text" name="Hello" value="{&quot;cat&quot;:&quot;dog&quot;,&quot;fish&quot;:&quot;racoon&quot;}" id="blah"/>
<script type="text/javascript">
$(function() {
  $(blah).jsonbuilder();
});
</script>
</body>
</html>