<!DOCTYPE html>
<html>
<head>
  <title>Patron Saint</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/saint.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/prettify/prettify.css" />
  <script type="text/javascript" src="/jquery.min.js"></script>
  <script type="text/javascript" src="/saint.js"></script>
  <script type="text/javascript" src="/prettify/prettify.js"></script>
  <script type="text/javascript" src="/jquery.simplemodal-1.4.1.js"></script>
  <script type="text/javascript" src="/json2.js"></script>  
</head>
<body>
<div class="border">
<%= yield %>
<div>
</body>
</html>