<!DOCTYPE html>
<html>
<head>
  <title>Patron Saint</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/saint.css" /> 
  <script type="text/javascript" src="/jquery.min.js"></script>
  <script type="text/javascript" src="/saint.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>