body {
  font-family: Verdana,Arial,sans-serif;
  font-size: 0.9em;  
}

#title {
  padding: 5px;
  text-align: center;
}

#main {
  border: 1px solid black;
  padding: 0.5%;
}

#credentials {
  padding: .5em;
}

.ui-widget {
  font-size: 90%;
}

li.required {
	font-weight: bold;
}

#resources {
/*  width: 300px;*/
  width: 25%;
}

#methods {
/*  width: 400px;*/
  width: 30%;
  margin-left: 0.5%;
}

#method {
/*  width: 600px;*/
  width: 41.5%;
  margin-left: 0.5%;  
}

#response {
/*  width: 1335px;*/
  width: 99%;
  border: 1px solid black;
  clear: both;
  padding: 5px;
  background-color: white;
  max-height: 300px;
  overflow: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

#resources, #methods, #method {
  border: 1px solid black;
  float: left;
  height: 300px;
  overflow: auto;
  padding: 5px;
  margin-bottom: 5px;
  background-color: white;
}

fieldset.params {
  margin: 5px 0;
}

div.param label {
  display: block;
  width: 150px;
  float: left;
  margin-top: 5px;
}

div.param {
  clear: both;
  margin-bottom: 5px;
}

div.param label.required {
  font-weight: bold;
}
div.param input {
  width: 300px;
}

ul { 
  list-style-type: none; 
  margin: 0;
  padding: 0;
  padding-left: 10px;
} 

div.checkboxes label {
  display: block;
}

div.checkboxes div.nested {
  margin-left: 30px;
}

/* Modal */

div.includesBox {
  padding: 20px;
}

/* Combo Box */

.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }

/* JSON Builder */
.jsonBuilder .rows {
  font-size: 1.2em;
}
.jsonBuilder .rows input {
  color: green;
}
.jsonBuilder .rows:before {
  content: "{";
}
.jsonBuilder .rows:after {
  content: "}";
}
.jsonBuilder .rows > div:after {
  content: ",";
}
.jsonBuilder .rows > div {
  padding-left: 10px;
}
.jsonBuilder .rowForm {
  margin-top: 10px;
}

input[type="text"] {
  border: 1px solid #c5dbec;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 16px;
  padding: 4px;
  
}